<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">

    </div>
    <br>
    <div class="row">
      <p class="lead">
        JSpiders Forums, Blog and TestSeries MEAN Applications
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/authentication/signup">Join Now!!!</a>
      </p>
    </div>
  </div>

  <div class="row mean">
    <h1 class="text-center">What is MEAN?</h1>
    <a href="http://mongodb.org/" target="_blank">
      <div class="col-md-3 mongo">
        <h3 class="text-center"><strong>M</strong>ongoDB</h2>
        <p class="text-justify">MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas.</p>
      </div>
    </a>
    <a href="http://expressjs.com/" target="_blank">
      <div class="col-md-3 express">
        <h3 class="text-center"><strong>E</strong>xpress</h2>
        <p class="text-justify">Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It is the standard framework for Node.js.</p>
      </div>
    </a>
    <a target="_blank" href="http://angularjs.org/">
      <div class="col-md-3 angular">
        <h3 class="text-center"><strong>A</strong>ngularJS</h2>
        <p class="text-justify">AngularJS  is a JavaScript-based open-source front-end web application framework maintained by Google and a team which is used for developing single-page applications. </p>
      </div>
    </a>
    <a target="_blank" href="http://nodejs.org/">
      <div class="col-md-3 node">
        <h3 class="text-center"><strong>N</strong>ode.js</h2>
        <p class="text-justify">Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side. JavaScript are embedded in a webpage's HTML, to be run client-side .</p>
      </div>
    </a>
  </div>
</section>
